<style>
.form-main{
display: flex;
width: 50vw;
justify-content: center;
}
form:nth-child(1){
width: 80%;
}
input[name="mail"]{
padding: 4px;
margin-bottom: 2%;
display: block;
width: 100%;
}
input[name="password"]{
padding: 4px;
margin-bottom: 2%;
width: 100%;
display: block;
}
#mainB{
width: 100%;
color: #fff;
font-family: "Segoe UI",serif;
font-weight: 400;
border-radius: 2px;
border: none;
padding: 4px;
background-color: #007bff;
}
#mainB:hover{
    background-color: #006ce0;
}
h1{
margin-left: 8.5%;
margin-bottom: 2%;
}
</style>
<h1>Log In</h1>
<div class="form-main">
    <form method="post" asp-controller="Auth" asp-action="Login">
        <input type="text" placeholder="Mail" name="mail"/>
        <input type="password" placeholder="Password" name="password">
        <input type="hidden" value="@ViewBag.url" name="url">
        <button type="submit" id="mainB">Log in</button>
        <a href="../Auth/Register">Register</a>
    </form>
</div>
